.row(
  ng-if='!game.created'
)
  .Absolute-Center.is-Responsive
    .col-sm-12.col-md-10.col-md-offset-1
      .form-group.game-button
        button.btn.btn-def.btn-block.setup#new-game(
          type='button',
          ng-click='createGame(game, game.players[meta.you], "#{username}")'
        ) New Game
      .form-group.game-button
        button.btn.btn-def.btn-block.setup#join-game(type='button') Join Game
      form#join-game-form(action='', hidden)
        .form-group
          input.form-control#access-code(
            type='text',
            placeholder='Enter access code',
            ng-model='game.room'
          )
        .form-group
          button.btn.btn-def.btn-block.setup#join(
            type='button',
            ng-click='joinGame(game, "#{username}")'
          ) Join
        .form-group
          button.btn.btn-def.btn-block.setup.back(type='button') Back