doctype html
html
  include ./head.jade
  body(
    style='background-color:green'
  )
    .container
      .row(
        ng-if='game.created'
      )
        .Absolute-Center.is-Responsive
          .col-sm-12.col-md-10.col-md-offset-1
            .box.row
              div(class='email-password-area col-xs-12 large col-sm-12')
                if error
                  .alert.alert-danger.bad-login(style='padding:5px')
                    p #{error}

                if formErrors
                  .alert.alert-danger.bad-login(style='padding:5px')
                    each error in formErrors
                      p #{error.error}

                form.login-form.form-horizontal(method='post', role='form',action=formActionUri)
                  input(name='_csrf', type='hidden', value=csrfToken)

                  .form-group.group-email

                    div(class='col-sm-12')
                      - var value = form.data ? form.data.login : '';
                      input(autofocus='true', placeholder='Username or Email', required=true, name='login', type='text')

                  .form-group.group-password
                    div(class='col-sm-12')
                      input(placeholder='Password', required=true, type='password', name='password')

                  div
                    button.login.btn.btn-login.btn-sp-green(type='submit', class='col-sm-12') Log in
                .form-group
                  a.btn(href='/register', class='col-sm-12', style='margin-top:15px') Register