doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Online Games

    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='css/1-col-portfolio.css', rel='stylesheet')
  body
    #main-container
      - var totalSpaces = 0
      for game in games
        .wrapper
          a.game-button(href='#{game.link}', style='background-color:#{game.color}; border-color:#{game.color}', data-num=totalSpaces++)
            | #{game.name}
      while totalSpaces < 23
        .wrapper
          .game-button(data-num=totalSpaces++)
      if user
        form.wrapper(action='logout', method='post')
          input.game-button(type='submit', value='Logout', style='background-color:green; border-color:green')
      else
        .wrapper
          a.game-button(href='/login', style='background-color:red; border-color:red')
            | Login

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    // Bootstrap Core JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
