extends ../../../views/mixins.jade

block heading
  .player-name
    span(style='color:#FFF')
      | {{ player.name.toUpperCase() }}




block player
  +player-separator
  .player-building-area(
    ng-if='!game.finished',
    ng-repeat='card in player.cards track by $index',
    ng-style='{ "max-width" : (game.players.length == 2 ? 23.75 : 31.666667) + "%", "width" : buildingWidth(player.cards.length) + "%" }'
  )
    img.building(
      ng-src='/games/no-thanks/images/{{card}}.png'
    )
  .score-box(
    ng-if='game.finished',
    ng-style='{"opacity": game.finished ? 1 : 0, "background-color": actions.winner(game).contains($index) ? "rgba(44, 167, 61, 0.5)" : "rgba(229, 2, 12, 0.5)"}'
  )
    .score
      | {{ actions.score(player) }}



block bottom
  +private
    +single-button('chip(game)', '{{ you().chips }}', 'red')
  +public
    +deck('/games/no-thanks/images/{{game.currentCard.value}}.png', 'game.deck.length', 'take(game)')
      +card-pile('game.currentCard.chips', 'red', '')

